html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

.main {
    height: 100vh;
    width: 100vw;
}

.main-header {
    font-size: 250%;
}

.section-header {
    font-size: 200%;
}

.special-font {
    font-size: 150%;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: gold;
    cursor: pointer;
}

/* ------------------------------------NAVBAR------------------------------------ */

nav {
    position: fixed;
    height: 10vh;
    background: black;
    color: white;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.navbar {
    width: 60vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-link,
.nav-title {
    width: 15vw;
    text-align: center;
}

.nav-title {
    font-size: 200%;
}


/* ------------------------------------HOMEPAGE BANNER------------------------------------ */

#banner {
    padding-top: 10vh;
    min-height: 90vh;
    background: linear-gradient(210deg, rgb(191, 213, 219) 0%, rgb(103, 193, 217) 100%);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-img-div{
    position: absolute;
    width: 35vw;
    right: 10vw;
}

.banner-img{
    width: 100% !important;
}

/* ------------------------------------FEATURED------------------------------------ */

#featured {
    min-height: 100vh;
    background: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.featured-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.featured-1 {
    width: 40vw;
}

.featured-2 {
    width: 40vw;
}

.banner-div {
    height: fit-content;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
}

.banner-img {
    width: 100vw;
}

.mobile-banner-img {
    display: none;
}

/* ------------------------------------ABOUT------------------------------------ */

#about {
    min-height: 100vh;
    background: white;
    color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.about-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about-1,
.about-2 {
    width: 40vw;
}

.about-img-div {
    width: 60%;
}

.about-img {
    width: 100%;
    border-radius: 50%;
}

.social-icons {
    display: flex;
    justify-content: space-around;
}

.fa-brands {
    font-size: 200% !important;
    margin-top: 10px;
    text-decoration: none !important;
    color: black !important;
}

.fa-brands:hover {
    color: gold !important;
}

/* ------------------------------------WORKS------------------------------------ */

#works {
    min-height: 100vh;
    background: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.works-IMGs {
    display: flex;
    justify-content: space-around;
    width: 80vw;
    flex-wrap: wrap;
}

.works-IMG {
    width: 15vw;
    border-radius: 50%;
}

.works-IMG:hover {
    transform: scale(1.1);
    transition: transform 0.5s;
}


/* --------------------------SHOW PAGES----------------------------- */

.show-info {
    min-height: 30vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    margin: auto;
}

.show-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40vw;
    text-align: center;
    margin-top: 5vh;

}

.show-img-div {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    width: 40vw;
}

.show-img-1,
.show-img-2,
.show-img-3 {
    position: absolute;
    width: 80%;
    top: -10vh;
    right: 0;
}

.show-img-1 {
    animation: show-1 15s infinite;
}

@keyframes show-1 {
    0% {
        opacity: 0;
    }

    5% {
        opacity: 1;
    }

    35% {
        opacity: 1;
    }

    40% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.show-img-2 {
    animation: show-2 15s infinite;
}

@keyframes show-2 {
    0% {
        opacity: 0;
    }

    35% {
        opacity: 0;
    }

    40% {
        opacity: 1;
    }

    65% {
        opacity: 1;
    }

    70% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.show-img-3 {
    animation: show-3 15s infinite;
}

@keyframes show-3 {
    0% {
        opacity: 0;
    }

    65% {
        opacity: 0;
    }

    70% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

.show-media {
    display: flex;
    justify-content: space-between;
    width: 80vw;
    min-height: 40vh;
    margin: auto;
    margin-top: 15vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.show-video {
    width: 30vw !important;
}


/* ----------------------------PAPER SWORDS------------------------- */

.ps-main {
    min-height: 100vh;
    background: #161440;
    background: linear-gradient(165deg, #161440 45%, #2a2c7c 100%);
    color: white;
}

.ps-banner {
    width: 100vw;
}


/* -------------------------------MMAM------------------------------ */

.MMAM-main {
    min-height: 100vh;
    color: white;
    background: linear-gradient(120deg, rgb(193, 207, 100) 30%, rgb(103, 193, 217) 50%, rgb(205, 118, 168) 80%, rgb(205, 118, 168) 100%);
}

.mmam-banner-div {
    height: fit-content;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.mmam-banner-img {
    width: 60vw;
}

.mmam-mobile-banner-img {
    display: none;
}


/* ------------------------------SMID------------------------------- */

.smid-main {
    min-height: 100vh;
    background: black;
    color: white;
}

.SMID-img-1,
.SMID-img-2,
.SMID-img-3,
.SMID-img-4,
.SMID-img-5 {
    position: absolute;
    top: -10vh;
    right: 0;
    max-height: 35vh;
}

.SMID-img-1 {
    animation: SMID-1 25s infinite;
}

@keyframes SMID-1 {
    0% {
        opacity: 0;
    }

    5% {
        opacity: 1;
    }

    20% {
        opacity: 1;
    }

    25% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.SMID-img-2 {
    animation: SMID-2 25s infinite;
}

@keyframes SMID-2 {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    40% {
        opacity: 1;
    }

    45% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.SMID-img-3 {
    animation: SMID-3 25s infinite;
}

@keyframes SMID-3 {
    0% {
        opacity: 0;
    }

    40% {
        opacity: 0;
    }

    45% {
        opacity: 1;
    }

    65% {
        opacity: 1;
    }

    70% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.SMID-img-4 {
    animation: SMID-4 25s infinite;
}

@keyframes SMID-4 {
    0% {
        opacity: 0;
    }

    65% {
        opacity: 0;
    }

    70% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}


/* ----------------------------DIFFERENT LENS------------------------- */

.differentlens-main {
    min-height: 100vh;
    background: linear-gradient(149deg, rgb(160, 247, 106) 0%, rgb(247, 166, 99) 50%, rgb(243, 153, 219) 100%);
}


/* -----------------------------FOOTER-------------------------------- */

footer {
    min-height: 30vh;
    background: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}