html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    overflow-x: hidden;
    font-size: 1.25vw;
}

@media (max-width: 425px) {
    body {
        font-size: 2vw;
    }
}

.main {
    min-height: 100vh;
    min-width: 100vw;
    background: linear-gradient(210deg, rgb(141, 0, 201) 0%, white 30%, rgb(191, 42, 255) 100%)
}

.main-header {
    font-size: 2vw;
}

.section-header {
    font-size: 2.5vw;
}

.special-font {
    font-size: 2vw;
}

@media (max-width: 425px) {
    .section-header {
        font-size: 4.5vw;
        margin-top: 5vh;
    }
    
    .special-font {
        font-size: 4vw;
    }

    .normal-font{
        font-size: 2.9vw;
    }
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: gold;
    cursor: pointer;
}

#Top-BTN {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    position: fixed;
    right: 25px;
    bottom: 25px;
    background: black;
    padding: 15px 20px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 19px 38px, rgba(0, 0, 0, 0.22) 5px 5px 42px;
}

.featured-box,
.about-box,
.works-box {
    width: 80vw;
    height: 80vh;
    background: rgb(234, 224, 224);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 19px 38px, rgba(0, 0, 0, 0.22) 5px 15px 42px;
}

iframe {
    background: black;
}

/* ------------------------------------NAVBAR------------------------------------ */

nav {
    position: fixed;
    height: 10vh;
    background: black;
    color: white;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.navbar {
    width: 60vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-link,
.nav-title {
    width: 15vw;
    text-align: center;
}

.nav-title {
    font-size: 200%;
}

#nav-title-home {
    opacity: 0;
    transition: 0.5s ease;
}

.fa-grip-lines {
    color: white !important;
    display: none !important;
    position: absolute;
    right: 5vw;
}

#navbar-expand {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    background: black;
    color: white;
    height: 0;
    position: absolute;
    right: 0;
    transition: 0.5s;
    z-index: 100;
}

.nav-link-expand {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vw;
    text-align: center;
    margin: auto;
    opacity: 0;
    transition: 0.5s;
}

@media (max-width: 768px) {

    .nav-link,
    .nav-title {
        display: none;
    }

    .fa-grip-lines {
        display: block !important;
        font-size: 300%;
        color: white;
    }

    .nav-link-expand {
        width: 100vw;
        font-size: 3vw;
    }
}


/* ------------------------------------HOMEPAGE BANNER------------------------------------ */

#banner {
    padding-top: 10vh;
    min-height: 90vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 10vh;
}

.banner-name-div {
    width: 45vw;
}

.banner-img-div {
    width: 35vw;
}

.banner-img {
    width: 100% !important;
}

@media (max-width: 425px) {
    #banner{
        flex-wrap: wrap-reverse;
    }

    .banner-name-div {
        width: 80vw;
        transform: translateY(-50%);
    }
    
    .banner-img-div {
        width: 80vw;
        transform: translateY(30%);
    }
}

/* ------------------------------------FEATURED------------------------------------ */

#featured {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 10vh;
}

.featured-box {
    width: 80vw;
    height: 80vh;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 19px 38px, rgba(0, 0, 0, 0.22) 5px 15px 42px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.featured-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.featured-1 {
    width: 35vw;
}

.featured-2 {
    width: 35vw;
    height: 35vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.SMID-spotify-player-home{
    display: none;
}

.spotify-btn,
.iTunes-btn {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    height: fit-content;
    padding-top: 3vh;
    padding-bottom: 3vh;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 3vw;
    padding-right: 3vw;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 3vw;

}

.spotify-btn:focus, .iTunes-btn:focus {
    box-shadow: #000000 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #000000 0 -3px 0 inset;
}

.spotify-btn:hover, .iTunes-btn:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #000000 0 -3px 0 inset;
    transform: translateY(-2px);
}

.spotify-btn:active, .iTunes-btn:active {
    box-shadow: #000000 0 3px 7px inset;
    transform: translateY(2px);
}

.spotify-btn {
    background: rgb(125, 202, 9);
}

.iTunes-btn {
    background: red;
}

.featured-banner-div {
    overflow-x: hidden;
    background: black;
}

.featured-banner-img {
    display: block;
    width: 100%;
    height: 100%;
}

.mobile-banner-img {
    display: none;
}

@media (max-width: 425px) {
    .featured-banner-div {
        max-height: 30%;
        display: flex;
        justify-content: center;
    }

    .featured-banner-img {
        display: none;
    }

    .mobile-banner-img {
        display: block;
        height: 100%;
    }

    .featured-info {
        display: block;
    }

    .featured-1,
    .featured-2 {
        width: 80vw;
    }

    .spotify-btn, .iTunes-btn{
        display: none;
    }

    .SMID-spotify-player-home{
        display: block;
        margin-top: 10vh;
        width: 60vw;
        height: 200px;
        background: rgb(234, 224, 224);
    }
}

/* ------------------------------------ABOUT------------------------------------ */

#about {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: 1s ease;
    padding-bottom: 10vh;
}

.about-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about-1,
.about-2 {
    width: 35vw;
}

.about-img-div {
    width: 50%;
    margin: auto;
}

.about-img {
    width: 100%;
    border-radius: 50%;
}

.social-icons {
    display: flex;
    justify-content: space-around;
}

.social-icons i {
    font-size: 200% !important;
    margin-top: 10px;
    text-decoration: none !important;
    color: black !important;
}

.fa-brands:hover {
    color: gold !important;
}

@media (max-width: 425px) {
    .about-box {
        justify-content: center;
    }

    .about-info {
        display: block;
    }

    .about-1 {
        width: 45vw;
        margin: auto;
        margin-top: 2vh;
    }

    .about-img-div {
        width: 100%;
        margin: auto;
    }

    .about-2 {
        width: 60vw;
        margin: auto;
        margin-top: 2vh;
    }
}

/* ------------------------------------WORKS------------------------------------ */

#works {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 10vh;
}

.works-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.works-section-header {
    transform: translateY(-5vh);
}

.works-IMGs {
    display: flex;
    justify-content: space-around;
    transform: translateY(-5vh);
    width: 80vw;
    flex-wrap: wrap;
}

.works-IMG {
    width: 15vw;
    border-radius: 50%;
}

.SMID-works-IMG {
    background: black !important;
}

.works-IMG:hover {
    transform: scale(1.1);
    transition: transform 0.5s;
}

@media (max-width: 425px) {
    .works-IMGs {
        transform: translateY(0vh);
    }

    .works-IMG {
        width: 40vw;
        margin: 5vw;
    }

    .works-section-header {
        display: none;
    }
}


/* --------------------------SHOW PAGES----------------------------- */

.show-info {
    min-height: 30vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    margin: auto;
}

.show-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40vw;
    text-align: center;
    margin-top: 5vh;
}

.show-img-div {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    width: 40vw;
}

.show-img-1,
.show-img-2,
.show-img-3 {
    position: absolute;
    width: 80%;
    top: -10vh;
}

.show-img-1 {
    animation: show-1 15s infinite;
}

@keyframes show-1 {
    0% {
        opacity: 0;
    }

    5% {
        opacity: 1;
    }

    35% {
        opacity: 1;
    }

    40% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.show-img-2 {
    animation: show-2 15s infinite;
}

@keyframes show-2 {
    0% {
        opacity: 0;
    }

    35% {
        opacity: 0;
    }

    40% {
        opacity: 1;
    }

    65% {
        opacity: 1;
    }

    70% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.show-img-3 {
    animation: show-3 15s infinite;
}

@keyframes show-3 {
    0% {
        opacity: 0;
    }

    65% {
        opacity: 0;
    }

    70% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

.show-media {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 80vw;
    min-height: 40vh;
    margin: auto;
    margin-top: 15vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.show-video {
    width: 30vw !important;
}

@media (max-width: 425px) {
    .show-info {
        display: block;
    }

    .show-text {
        width: 80vw;
    }

    .show-img-1,
    .show-img-2,
    .show-img-3 {
        top: 0;
        margin: auto;
        padding-top: 5vh;
        width: 80%;
    }

    .show-img-div {
        width: 80vw;
        margin: auto;
    }

    .show-media {
        margin-top: 25vh;
    }

    .show-video {
        height: 250px;
        width: 60vw !important;
        margin: auto;
        margin-top: 5vh;
    }
}


/* ----------------------------PAPER SWORDS------------------------- */

.ps-main {
    min-height: 100vh;
    background: #161440;
    background: linear-gradient(165deg, #161440 45%, #2a2c7c 100%);
    color: white;
}

.ps-banner {
    margin-top: 10vh;
    width: 100vw;
}

@media (max-width: 425px) {
    .ps-banner{
        margin-top: 15vh;
        width: 120vw;
        transform: translateX(-10vw);
    }
}


/* -------------------------------MMAM------------------------------ */

.MMAM-main {
    min-height: 100vh;
    color: white;
    background: linear-gradient(120deg, rgb(193, 207, 100) 30%, rgb(103, 193, 217) 50%, rgb(205, 118, 168) 80%, rgb(205, 118, 168) 100%);
}

.mmam-banner-div {
    padding-top: 15vh;
    height: fit-content;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    margin-bottom: 5vh;
}

.mmam-banner-img {
    width: 60vw;
}

.mmam-mobile-banner-img {
    display: none;
}

@media (max-width: 425px) {
    .mmam-banner-img{
        width: 80vw;
    }
}


/* ------------------------------SMID------------------------------- */

.smid-main {
    min-height: 100vh;
    background: black;
    color: white;
}

.SMID-banner-img {
    margin-top: 15vh;
}

.SMID-mobile-banner-img {
    display: none;
}

.SMID-img-1,
.SMID-img-2,
.SMID-img-3,
.SMID-img-4 {
    position: absolute;
    top: -10vh;
    max-height: 35vh;
}

.SMID-img-1 {
    animation: SMID-1 25s infinite;
}

@keyframes SMID-1 {
    0% {
        opacity: 0;
    }

    5% {
        opacity: 1;
    }

    20% {
        opacity: 1;
    }

    25% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.SMID-img-2 {
    animation: SMID-2 25s infinite;
}

@keyframes SMID-2 {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    40% {
        opacity: 1;
    }

    45% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.SMID-img-3 {
    animation: SMID-3 25s infinite;
}

@keyframes SMID-3 {
    0% {
        opacity: 0;
    }

    40% {
        opacity: 0;
    }

    45% {
        opacity: 1;
    }

    65% {
        opacity: 1;
    }

    70% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.SMID-img-4 {
    animation: SMID-4 25s infinite;
}

@keyframes SMID-4 {
    0% {
        opacity: 0;
    }

    65% {
        opacity: 0;
    }

    70% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@media (max-width: 425px) {
    .SMID-banner-div {
        max-height: 30vh;
        display: flex;
        justify-content: center;
        padding-top: 10vh;
    }

    .SMID-banner-img {
        display: none;
    }

    .SMID-mobile-banner-img {
        display: block;
        max-height: 100%;
        object-fit: contain;
    }

    .SMID-img-1,
    .SMID-img-2,
    .SMID-img-3,
    .SMID-img-4 {
        top: 0;
        margin: auto;
        padding-top: 5vh;
        width: 60%;
    }

    .SMID-show-media {
        display: flex;
        flex-wrap: wrap;
        margin-top: 35vh;
    }

    .SMID-show-video {
        width: 80vw;
        margin: auto;
    }

    .SMID-spotify-player {
        width: 80vw;
        padding-top: 10vh;
        margin: auto;
    }
}

/* ----------------------------MEDIA-------------------------------- */

.media-main {
    min-height: 100vh;
    color: white;
    background: linear-gradient(240deg, rgb(218, 125, 71) 30%, rgb(198, 88, 206) 50%, rgb(63, 143, 107) 100%);
}

.media-header-div {
    width: 50vw;
    margin: auto;
}

.media-header {
    width: 100%;
    padding-top: 10vh;
}

.different-lens {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80vw;
    margin: auto;
    margin-bottom: 10vh;
    text-align: center;
}

.different-lens-info,
.different-lens-player {
    width: 30vw !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.videos-grid {
    width: 80vw;
    margin: auto;
}

.video-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 5vh;
}

.video-row-1 {
    width: 35vw !important;
    height: 300px;
}

.video-row-2 {
    width: 25vw !important;
    height: 250px;
}

@media (max-width: 425px) {
    .different-lens-info {
        display: none;
        width: 80vw !important;
    }

    .different-lens-player {
        width: 80vw !important;
    }

    .video-row-1,
    .video-row-2 {
        width: 80vw !important;
        height: 300px;
        margin-top: 5vh;
    }
}


/* -----------------------------FOOTER-------------------------------- */

footer {
    min-height: 20vh;
    background: black;
    color: white !important;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-social-icons {
    display: flex;
    justify-content: space-around;
    width: 40vw;
}

.footer-social-icons .fa-brands {
    color: white;
    font-size: 200% !important;
}